body {
	font-size: 16px;
	color: black;
	background-color: #eff5f7; /*blue white*/
}

/** HEADER **/
#header-nav {
	background-color: #4f7fa9; /*dark blue*/
	border-radius: 0;
}

.navbar {
	border: 1.5px solid black;
	min-height: 80px;
}

.navbar-brand {
	padding-top: 15px;
}

.navbar-brand h1 {
	font-family: 'Staatliches', cursive;
	color: #eff5f7;
	font-size: 2.5em;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #9db8cf; /* baby blue */
}
#nav-list a {
  color: #eff5f7;
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 1.5em;
}
#nav-list li:nth-child(2) a {
	border-bottom: 1.5px solid #eff5f7;
	border-top: 1.5px solid #eff5f7;
}
#nav-list a:hover {
  background: #eff5f7; /*white*/
  color: #4f7fa9; /*dark blue*/
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 2px solid black;
}

.navbar-header button.navbar-toggle:focus .icon-bar {
	border: 2px solid white;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}

.navbar-default .navbar-toggle:focus {
    border-color: #eff5f7; /*white*/
    background-color: #4f7fa9; /*dark blue*/
}

/* END HEADER */

/** MAIN CONTENT **/

h2 {
	font-family: Libre Baskerville, serif;
	font-size: 2em;
	margin-top: 30px;
	margin-bottom: 30px;
}

.row {
	background-color: #9db8cf;
	padding: 20px 5px 30px 5px;
	margin: 10px 0px 80px 0px;
}

#text-title {
	font-family: 'Kaisei Tokumin', serif;
	font-weight: bold;
	padding-bottom: 12px;
	font-size: 1.2em;
}

#text {
	font-family: 'Kaisei Tokumin', serif;
}

@media (min-width: 900px) {
	#main-content.container {
		padding-right: 0px;
		padding-left: 0px;
	}
}

@media (min-width: 750px) and (max-width: 899px) {
	#main-content.container {
		padding-right: 40px;
		padding-left: 40px;
	}
}

@media (max-width: 749px) {
	#main-content.container {
		padding-right: 80px;
		padding-left: 80px;
	}
}

/* END MAIN CONTENT */